body {
  color: lightcoral;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal, bold;
  text-transform: uppercase;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




footer {
  margin-top: auto;
}

@media (min-width: 1081px) {
  body {
    background-color: aliceblue;
  }
}

@media(min-width: 1200px) {
   body {
    background-color: brown;
   }

}